# Case Study on Testing of Hypothesis

A company started to invest in digital marketing as a new way of their product
promotions.For that they collected data and decided to carry out a study on it.

● The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.

# 1

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
data=pd.read_csv("Sales_add.csv")
data.head(22)

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [23]:
data.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [24]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

The sample size is 22 (n < 30).
So we should carry out two-tailed t-test such that

NULL HYPOTHESIS: Sales_before_digital_add(in $) is same as Sales_After_digital_add(in $)
ALTERNATIVE HYPOTHESIS: Sales_After_digital_add(in $) increased as compared to Sales_before_digital_add(in $)

Next, consider the p-value,
If the p-value is less than significance level, we can reject the null hypothesis and conclude that the effect is statistically significant. In other words, the evidence in the sample is strong enough to be able to reject the null hypothesis.

In [74]:
from scipy import stats
alpha = 0.05
Before=data['Sales_before_digital_add(in $)']
After =data['Sales_After_digital_add(in $)']

In [106]:
stats.ttest_ind(Before,After, equal_var=True)

Ttest_indResult(statistic=-12.995084451110877, pvalue=2.614368006904645e-16)

INSIGHT:
Here, the p-value, 2.614368006904645e-16, is much less than the significance level,0.05.
Hence, we should reject the null hypothesis and acccept the alternative hypothesis.

Hence there is an increase in sales after stepping into digital marketing.

# 2
● The company needs to check whether there is any dependency between the
features “Region” and “Manager”.

NULL (H0)-There is no dependency between the features “Region” and “Manager”.
ALTERNATIVE (H)-There is a dependency between the features “Region” and “Manager”.

In [125]:
contingency_table=pd.crosstab(data["Manager"],data["Region"])
print('contingency_table :-\n',contingency_table)

contingency_table :-
 Region       Region - A  Region - B  Region - C
Manager
Manager - A           4           4           1
Manager - B           3           1           3
Manager - C           3           2           1

In [126]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(Observed_Values,Expected_Values)])
chi_square_statistic=chi_square[0]+chi_square[1]
critical_value=chi2.ppf(q=1-alpha,df=ddof)

In [123]:
#p-value
p_value=1-chi2.cdf(x=chi_square_statistic,df=ddof)
print('p-value:',p_value)
print('Degree of Freedom: ',ddof)
print('chi-square statistic:',chi_square_statistic)
print('critical_value:',critical_value)
print('p-value:',p_value)

p-value: 0.279154437646568
Degree of Freedom:  1
chi-square statistic: 1.1712018140589566
critical_value: 3.841458820694124
p-value: 0.279154437646568

In [124]:
if chi_square_statistic>=critical_value:
    print("Reject H0")
else:
    print("Retain H0")
    
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0
Retain H0,There is no relationship between 2 categorical variables

INSIGHT
There is no dependency between the features “Region” and “Manager”.